{{ partial "header" . }}
<div class="bx--col-sm-12 bx--col-md-12 bx--col-lg-12  bx--col-xlg-12 bx--col-max-12">
  <h1 class="p-name">{{ .Title }}</h1>
  {{ if eq .Params.type "blog" }}
  <div class="postmeta">{{ .Date | time.Format ":date_medium" }} | {{ .Params.author }} | {{ partial "tags.html" . }}
  </div>
  {{ end }}
  {{ .Content | replaceRE "(<h[1-6]\\sid=\"([^\"]+)\"\\s?)(>)(.+)(</h[1-6]+>)" "${1}style=\"display:inline\"${3}${4}${5}<a class=\"stealth\" href=\"#${2}\">🔗</a><br>" |
    safeHTML }}
</div>
{{ partial "footer.html" . }}
