<div class="card bx--col-sm-12 bx--col-md-12 bx--col-lg-6 bx--col-xlg-4 bx--col-max-3" aria-labelledby="{{ .Title }}">
  {{ $link := .Permalink }}
  <h3 class="menutitle">
    <a href="{{ $link }}">
      {{ .Title }}
    </a>
  </h3>

  {{ $image := resources.Get ( printf "%s" .Params.image ) }}
  {{ with $image }}
  <a href="{{ $link }}">
    <img src="{{ ( $image.Resize " 400x" ).RelPermalink }}" />
  </a>
  {{ end }}

  {{ if .Description }}
  <p class="boxdescr"><a href="{{ $link }}" class="u-url">{{ .Description }}</a></p>
  {{ end }}

  <p>{{ partial "tags.html" . }}</p>

  <div class="container">
    {{ if .Date }}
    <span class="left">
      {{ .Date | time.Format ":date_medium" }}
    </span>
    {{ end }}
    <span class="right">
      <bx-btn href="{{ $link }}" style="text-align:center" size="sm">Read</bx-btn>
    </span>
  </div>
</div>
